/*----------------------------------------------------------------------Main-----------------------------------------------------------------*/
/*----------------------------------------------------------------------trial nav-----------------------------------------------------------------*/

@charset "utf-8";
body
{background-color:white;
}
.nav-img
{
	width:50px;
	padding:2px;
}
.nav 
{
	font-size: 25px;
	color:black;
	padding: 19px;
	text-decoration: none;
	display:inline-block;

}
table
{
	border-bottom-style:solid;
	padding-bottom:10px;
	margin-left: 30%;
	margin-right: -30%;

	
	}
td
{
	text-align:center;
	padding:5PX;
	padding:10px;
	font-size:20px;
	
	}
	
.nav {

background-color: transparent;


}




/*--------------------------------_F_O _O _T _E _R ----------------------------------*/
#footer {
	position:relative;
 	display:block;
	clear: both;
	width:inherit;
	height:30%;
	padding:3%;
	background-color:black;
    text-align: center;

}


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------C_O_N_T_A_I_N_E_R --------------------------------------------------------------------*/

#containerhome {
	padding:10px;
	margin:5%;
	
	
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------_H_O_M_E--------------------------------------------------------------------------*/

#head
{
	display:block;
	border-bottom-style:solid;
	border:1px solid black;
	width:100%;
	
	background-color:#000000;
	
	
	}
	
h1{
	
	margin-top:0;
	font-size:1.5em;
	width:100%;
	display:block;
	background-color:#0CF7D6;
	
	
	}


#upcoming {
	display:block;
	border-bottom-style:solid;
	border:1px solid black;
	margin-top:25px;
	width:100%;
	
	
	
	}
#register

{
		margin-top:25px;
	display:block;
	border-bottom-style:solid;
	border:1px solid black;
	width:100%;

	
	
}