/*----------------------------------------------------------------------Main-----------------------------------------------------------------*/
/*----------------------------------------------------------------------trial nav-----------------------------------------------------------------*/

@charset "utf-8";
body
{background-color:white;
}
.nav-img
{
	width:50px;
	padding:2px;
}
.nav 
{
	position:relative;
 	display:block;
	clear: both;
	width:inherit;
	height:30%;
	padding:4%;
	background-color:#DDC2C2;
    text-align: center;
	border-bottom:4px solid black;


	

}
table
{

	
	margin-left: 20%;
	margin-right: -20%;

	
	}
	
	
td
{
	text-align:center;

	padding:20px;
	font-size:20px;
	
	}
	




/*--------------------------------_F_O _O _T _E _R ----------------------------------*/
#footer {
	position:relative;
 	

	width:inherit;
	height:30%;
	padding:3%;
	background-color:white;
    text-align: center;
	border-top:4px solid black;

}
#footer-img1{display:inline-block;float:left;height:30%;	padding:3%;
}
#footer-img2{display:inline-block;float:right;height:30%;	padding:3%;
}


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------C_O_N_T_A_I_N_E_R --------------------------------------------------------------------*/

#containerhome {
	padding:10px;
	margin:5%;
	
	
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------_H_O_M_E--------------------------------------------------------------------------*/

#head
{
	display:block;
	border-bottom-style:solid;
	border:1px solid black;
	width:90%;
		margin-top:25px;
	background-color:transparent;
	padding:1% 3% 1% 3%;
	
	
	}
	


#upcoming {
	display:block;
	border-bottom-style:solid;
	border:1px solid black;

	width:90%;
	padding:1% 3% 1% 3%;
	}
	
	
	
#registercontainer

{
	margin-top:25px;
	padding:0% 3% 0% 3%;
	display:inline-block;
	border-bottom-style:solid;
	border:1px solid black;
	width:90%;
	color:black;
}

#register{ 
float:right;
padding:2.2%;
width:65%;
border-left: 1px solid black;
text-align:left;


}
label{ padding:2px;margin:2px;}
input{margin:10px; padding:5px; align-content:flex-start;}
#registerInfo
{	
	margin-top:40px;
	margin-left:80px;

	margin-right:-80px;

	float:left;
	width:30%;
	
		
	
}